@CHARSET "ISO-8859-1";

html,
body {
	width: calc(100% - 100px);
	height: 100%;
	margin:0;
	padding:50px;
	background: #111116;
}

h1 {
	margin-left: 60px;
    color: #dedede;
}

.square {
	pointer-events: none;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 1px;
    background-color: currentColor;
    font-size: 12px;
}

ul {
	list-style: none;	
}

ul li {
    float: left;
    width: calc(50% - 40px);
    height: 200px;
    background: #42486b;
    margin: 20px;
    transition: all 0.2s;
}

ul li:hover {
    background: #818bc7;
}

.block {
	padding: 30px;
    height: calc(100% - 60px);
    position: relative;
    cursor: pointer;
}

.block .elements {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: calc(100% - 60px);
}