@CHARSET "ISO-8859-1";

html,
body {
	width: calc(100% - 100px);
	height: 100%;
	margin:0;
	padding:50px;
	background: #111116;
}

h1 {
	margin-left: 60px;
    color: #dedede;
}

h2 {
	position: absolute;
    bottom: 0;
    width: 100%;
    background: #595e80;
    left: 0;
    margin: 0;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: 300;
    font-size: 18px;
    border-top: 1px solid #111116;
    color: #dedede;
}

.square {
	pointer-events: none;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 1px;
    background-color: currentColor;
    font-size: 12px;
}

.lines {
	background: #42486b;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    height: 500px;
}

ul {
	list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
    width: calc(50% - 40px);
    height: 200px;
    background: #42486b;
    margin: 20px;
    transition: all 0.2s;
    cursor: pointer;
}

.lines:hover,
ul li:hover {
    background: #818bc7;
}

input {
	width: 100%;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    background: #42486b;
    color: white;
}


.block {
	padding: 30px;
    height: calc(100% - 60px);
    position: relative;
    cursor: pointer;
}

.block .elements {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: calc(100% - 60px);
}

/*
* Some test for the mixing
*/

.cadre {
	width: 250px;
    height: 250px;
    border: 1px solid white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.inside-cadre {
	width: 250px;
    height: 250px;
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.bbottom,
.btop {
	position: absolute;
    left: 0;
    top: 0;
    height: calc(252px * 0.2 / 2 - 4px);
    width: 100%;
    background: #993333bd;
    transform: translateY(-100%);
    transform-origin: top;	
}

.bbottom {
	top: initial;
	bottom: 0;
	transform: translateY(100%);
    transform-origin: bottom;
}

.bright,
.bleft {
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(252px * 0.2 / 2 - 4px);
    background: #993333bd;
    transform: translateX(-100%);
    transform-origin: left;
}

.bright {
	right: 0;
	left: initial;
	transform: translateX(100%);
    transform-origin: right;
}

.corner {
	position: absolute;
    width: calc(252px * 0.2 / 2 - 4px);
    height: calc(252px * 0.2 / 2 - 4px);
    background: white;
}

.crt {
	right: 0;
    top: 0;
    transform-origin: right top;
    transform: translate(100%,-100%);
}
.clt {
	left: 0;
    top: 0;
    transform: translate(-100%,-100%);
}
.crb {
	right: 0;
    bottom: 0;
    transform: translate(100%,100%);
}
.clb {
	left: 0;
    bottom: 0;
    transform: translate(-100%,100%);
}

/*
* Some test for the mixing 2
*/

.littleb {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    border: 1px solid white;
    overflow: hidden;
}

.bigcb {
	width: 400px;
    height: 400px;
    background: url(./../../imgs/FRAME1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.littlec {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid white;
    transform: rotateZ(45deg);
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.bigc {
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 1px solid white;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.bigct {
    width: 400px;
    height: 400px;
    background: url(./../../imgs/FRAME1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotateZ(-45deg);
}

.littlef {
	width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid white;
    transform: rotateZ(45deg);
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.littlee2,
.littlee {
	width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid white;
    transform: rotateZ(67.5deg);
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background: white;
}

.littlee2 {
    transform: rotateZ(22.5deg);
}

.littlee .bigct {
	transform: translate(-50%,-50%) rotateZ(-67.5deg);
}

.littlee2 .bigct {
	transform: translate(-50%,-50%) rotateZ(-22.5deg);
}






















